@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./assets/fonts/ClashGrotesk/css/clash-grotesk.css");

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.monie-gradient {
  background: linear-gradient(
      0deg,
      #ffffff 72.7%,
      rgba(255, 255, 255, 0) 124.11%
    ),
    linear-gradient(89.94deg, #fff0eb 10.17%, #ddd7fe 80.93%);
}

.mobileBar {
  background: #ffffff;
  border: 1px solid #eeeef0;
  box-shadow: 0px 2px 20px -2px rgba(16, 24, 40, 0.08),
    0px 4px 8px -2px rgba(16, 24, 40, 0.08);
  border-radius: 90px;
}

.cardShadow {
  box-shadow: 0px 6px 20px -10px rgba(16, 24, 40, 0.06),
    0px 2px 12px -6px rgba(16, 24, 40, 0.04);
}

.recipientCard {
  box-shadow: 0px 3px 18px -4px rgba(16, 24, 40, 0.1),
    0px 3px 10px -2px rgba(16, 24, 40, 0.04);
}

.avatarShadow {
  box-shadow: 0px 2px 4px -2px #1018280d, 0px 4px 12px -4px #1018281a;
}

.appOverlay {
  background: rgba(140, 148, 166, 0.4);
  backdrop-filter: blur(1.5px);
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("./assets/icons/CalendarBlank.svg");
}

.loaderBg {
  background-image: url("./assets/icons/loaderBg.svg");
}

.removeBorder {
  border: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
}
